body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #FF6347;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #FF4500;
}


#o_državi_div {
    border: 1px solid transparent;
    background-color: #fb9300;
    text-align: center;

}


.stats-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.stats-container>div>div {

    background-color: #ffb300;
    border-radius: 20px;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    font-weight: 800;
}

.sarajevo-div {
    border: 1px solid transparent;
    background-color: #fbd100;
    text-align: center;
}

.čevapi-div {
    border: 1px solid transparent;
    background-color: #69fb00;
    text-align: center;
}



@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

nav:hover {
    animation: bounce 0.7s infinite;
}